<%- include('../partials/header') %>
<table>
  <thead>
    <tr>
      <th>All Road Trips from Starting From NAME</th>
    </tr>
  </thead>
  <tbody>
     
    <% trip.forEach(function(t) { %>
      <tr>
        <td><a href="/trip/<%= t._id %>"><%= t.tripStartEnd %></a></td>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>