<footer id="footer" class="bg-dark">
    <div class="container">
      <p style="text-align: center;"class="text-light text-align-center">
        &copy; Copyright reserved. Design by <a href="mailto:ellingtonmaya@gmail.com">Maya Ellington</a>
      </p>
    </div>
</footer>
</body>
</html>