<%- include('../partials/header') %>
<table>
  <thead>
    <tr>
      <th>All Road Trips from Starting From NAME</th>
    </tr>
  </thead>
  <tbody>
     
    <% trip.forEach(function(t) { %>
      <tr>
        <td><a href="/startingPoint/<%= t._id %>"><%= t.tripStartEnd %></a></td>
      <% }); %>
    </tbody>
  </table>
  
  <% if (trip.length === 0) {%>
    <h1>No Trips Added Yet!</h1>
  <% } %>

<%- include('../partials/footer') %>