<%- include('../partials/header') %>

<h3>tripTitle</h3>

<!-- <form id="new-form" action="trip/tripBeginId" method="POST"> -->

<form id="new-form" action="startingPoint/" method="POST">
    <label>Title your trip <i>(ex. 'Berkeley to Portland')</i></label>
    <input type="text" name="tripStartEnd" placeholder="From where to where?">
  <label>Road Trip Destinations/Stops:</label>
  <input type="text" name="stopsEnRoute">
  <label>Total Drive Hours:</label>
  <input type="number" name="tripHours">
  <label>Total Trip Days:</label>
  <input type="number" name="tripDays">
  <label>Road Trip Details/Story:</label>
  <input type="text" name="story">
  <input type="submit" value="Add Road Trip">
</form>

<%- include('../partials/footer') %>