<%- include('./partials/header') %>


    <section id="add-location">
                <p>
                    This map shows where people have started their road trip journeys! 
                    <br>Click locations to see where they went, and login to add your road trip journey to the map.
                </p>
            </div>
            </div>
        <section>
                <form id="form">
                    <% if (user) { %>
                        <div>
                            <label>Where did you start your road trip? <i>(To ensure added correctly, add both the city and state!)</i></label>
                            <input id="tripBegin" type="text" placeholder="City/Town, State">
                        </div>
                        <button type="submit" style="margin-left:15px; margin-bottom:30px;">
                            Add Your Road Trip!
                        </button>
                        <% } %>
                </form> 
           
        </section>
    </section>
        <div id="map"></div>
      

<script defer src="/js/app.js"></script>

<%- include('./partials/footer') %>