<%- include('./partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road Tripper</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.0/mapbox-gl.css' rel='stylesheet' /></head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <section style="height: 23vh; margin-left: 20px;">
                <p>
                    This map shows where people have started their road trip journeys! 
                    <br>Click locations to see where they went, and login to add your road trip journey to the map.
                </p>
            </div>
            </div>
        <section>
                <form id="form">
                    <% if (user) { %>
                        <div>
                            <label>Where did you start your road trip? <i>(To ensure added correctly, add both the city and state!)</i></label>
                            <input id="tripBegin" type="text" placeholder="City/Town, State">
                        </div>
                        <button type="submit" style="margin-left:15px; margin-bottom:30px;">
                            Add Your Road Trip!
                        </button>
                        <% } %>
                </form> 
           
        </section>
    </section>

    <div id="map" style="height: 70vh;"></div>
    
     
      
</body>
<script defer src="/js/app.js"></script>
</html>
<%- include('./partials/footer') %>