#search-row form {
  padding-top: 20px;
}

.collection-item form {
  margin-top: -5px;
}

#map {
  width: 100vw;
  height: 500px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

body {
  overflow: hidden; 
}