*{
  font-family: Algerian;
}

html, body {
  overflow: auto;
}
body {
  min-height: 100vh;
  margin: 0;
    padding: 0;
}

h3 {
  text-align: center;
}
#search-row form {
  padding-top: 20px;
}

.collection-item form {
  margin-top: -5px;
}

#map {
  width: 100vw;
  height: 600px;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  padding: 12px 
}

body {
  overflow: hidden; 
}

#form  {
  display: grid;
  grid-column: span 2;
  width: 20rem;

}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(odd) {
  font-weight: bold;
}


table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#header-img {
  width: 80px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#road-tripper{
  display: flex;
  align-items: flex-end;
}

#add-location {
  height: 202px;
}