<%- include('../partials/header') %>


<section id="show-page">
    <div>Road Trip Start/End: </div>
    <div><%= trip.tripTitle %></div>
    <div>Destinations: </div>
    <div> </div>
    <div>Total Trip Hours: </div>
    <div></div>
    <div>Total Trip Days: </div>
    <div>
      
    </div>

  
<%- include('../partials/footer') %>